RewriteEngine on

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cantingfood.my.id.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cantingfood.my.id.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://e-card.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://e-card.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fortis.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://fortis.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestcard.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://guestcard.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partner.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://partner.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://qr-menu.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://qr-menu.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://signature.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://signature.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://spa.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://spa.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wagateway.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wagateway.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cantingfood.my.id.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cantingfood.my.id.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.e-card.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.e-card.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fortis.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.fortis.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestcard.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.guestcard.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partner.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.partner.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qr-menu.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.qr-menu.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.signature.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.signature.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.spa.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.spa.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wagateway.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wagateway.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cantingfood.my.id.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cantingfood.my.id.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://e-card.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://e-card.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fortis.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://fortis.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestcard.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://guestcard.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partner.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://partner.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://qr-menu.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://qr-menu.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://signature.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://signature.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://spa.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://spa.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wagateway.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wagateway.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cantingfood.my.id.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cantingfood.my.id.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.e-card.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.e-card.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fortis.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.fortis.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestcard.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.guestcard.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partner.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.partner.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.qr-menu.cantingfood.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.qr-menu.cantingfood.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.signature.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.signature.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.spa.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.spa.dafamsemarang.my.id$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wagateway.dafamsemarang.my.id/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wagateway.dafamsemarang.my.id$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php81” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
